<ion-header>
  <ion-toolbar color="primary">

    <!-- 🔥 MINIMIZE BUTTON -->
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="minimizeChat()">
        💬
      </ion-button>
    </ion-buttons>

    <ion-title>Chat</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="chat-bg">

  <div class="chat-container">

    <div *ngFor="let msg of messages"
         [ngClass]="msg.senderId == senderId ? 'my-msg' : 'other-msg'">

      <div class="bubble">
        {{ msg.message }}
      </div>

      <div class="time">
        {{ msg.createdDate | date:'shortTime' }}
      </div>

    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-input [(ngModel)]="newMessage"
               placeholder="Type message...">
    </ion-input>

    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()">
        Send
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>