<ion-header>
  <ion-toolbar color="primary">

    <!-- 🔥 MINIMIZE BUTTON -->
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="minimizeChat()">
        💬
      </ion-button>
    </ion-buttons>

    <!-- <ion-title>Chat</ion-title> -->
     <ion-title>

  <div style="display:flex; align-items:center; gap:10px;">

    <!-- 🔥 RECEIVER IMAGE -->
    <img [src]="receiverAvatar" class="avatar"/>

    <div>
      {{ selectedFullName || selectedUserName || 'Chat' }}

      <div style="font-size: 12px;">
        <span *ngIf="selectedUser?.isOnline" style="color: lightgreen;">
          Online
        </span>
        <span *ngIf="!selectedUser?.isOnline && selectedUser?.lastSeen">
          Last seen {{ selectedUser.lastSeen | date:'shortTime':'Asia/Kolkata' }}
        </span>
      </div>
    </div>

  </div>

</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="chat-bg">

  <div class="chat-container">

    <div *ngFor="let msg of messages"
         [ngClass]="msg.senderId == senderId ? 'my-msg' : 'other-msg'">

      <div class="bubble">
        {{ msg.message }}
      </div>

      <div class="time">
        {{ msg.createdDate | date:'shortTime' }}

         <!-- ✅ SHOW STATUS -->
        <span *ngIf="msg.senderId == senderId">
          • {{ msg.isRead ? 'Seen' : 'Sent' }}
        </span>
      </div>

    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-input
      [(ngModel)]="newMessage"
      placeholder="Type message..."
      (keydown.enter)="sendMessage()">
    </ion-input>

    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()">
        Send
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>