.chat-bg {
  --background: #ece5dd;
}

.chat-container {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 80px;
}

.my-msg {
  text-align: right;
}

.my-msg .bubble {
  background: #dcf8c6;
  padding: 10px;
  border-radius: 15px 15px 0 15px;
}

.other-msg {
  text-align: left;
}

.other-msg .bubble {
  background: white;
  padding: 10px;
  border-radius: 15px 15px 15px 0;
}

.time {
  font-size: 10px;
  color: gray;
}