<ion-content>
  <div class="login-container">
    <!-- Logo -->
    <img src="assets/logo.jpeg" alt="Logo" class="logo" />

    <h2 class="title">Influencers</h2>
    <p class="subtitle">Find Your Perfect Brand Partner</p>

    <!-- Google Button -->
    <ion-button expand="block" class="login-btn" color="light">
      <img src="assets/Google.png" class="icon" />
      Continue with Google
    </ion-button>

    <!-- Instagram Button -->
    <ion-button expand="block" class="login-btn" color="light">
      <img src="assets/Instagram.png" class="icon" />
      Continue with Instagram
    </ion-button>
  </div>
</ion-content>
