<!-- Top Navigation -->
<ion-header>
  <ion-toolbar class="nav-bar">

    <!-- Left -->
    <ion-buttons slot="start">
      <ion-button class="menu-btn">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Center -->
    <ion-title class="title">
      Influencer Connect
    </ion-title>

    <!-- Right -->
    <ion-buttons slot="end">
      <ion-button class="logout-btn" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <span class="logout-text">Logout</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content class="ion-padding dashboard-content">

  <h2>Welcome to Dashboard </h2>
  <p>You are successfully logged in.</p>

</ion-content>